[submodule "RoleplayingVoiceCore"]
	path = RoleplayingVoiceCore
	url = https://github.com/Sebane1/RoleplayingVoiceCore
[submodule "LooseTextureCompilerCore"]
	path = LooseTextureCompilerCore
	url = https://github.com/Sebane1/LooseTextureCompilerCore
[submodule "ArtemisRoleplayingKit/AnamCore"]
	path = ArtemisRoleplayingKit/AnamCore
	url = https://github.com/Sebane1/AnamCore.git
[submodule "ArtemisRoleplayingKit/EmoteReading"]
	path = ArtemisRoleplayingKit/EmoteReading
	url = https://github.com/Sebane1/EmoteReading.git
[submodule "ArtemisRoleplayingKit/MediaGameObjects"]
	path = ArtemisRoleplayingKit/MediaGameObjects
	url = https://github.com/Sebane1/MediaGameObjects.git
[submodule "ArtemisRoleplayingKit/BoneReadingCore"]
	path = ArtemisRoleplayingKit/BoneReadingCore
	url = https://github.com/Sebane1/BoneReadingCore.git
