[submodule "RoleplayingVoiceCore"]
	path = RoleplayingVoiceCore
	url = https://github.com/Sebane1/RoleplayingVoiceCore
[submodule "LooseTextureCompilerCore"]
	path = LooseTextureCompilerCore
	url = https://github.com/Sebane1/LooseTextureCompilerCore
[submodule "ArtemisRoleplayingKit/AnamCore"]
	path = ArtemisRoleplayingKit/AnamCore
	url = https://github.com/Sebane1/AnamCore.git
